.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

.header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
} */

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
}

/* .carousel-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-navigation a {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
} */

.recipe-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.card h3 {
    margin-top: 0;
}

.card a {
    text-decoration: none;
    color: #007bff;
}
