@{
    ViewData["Title"] = "Nasi Goreng Recipe";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
    <h2>
        Bahan-bahan
    </h2>
    <h4>
        Bahan halus:
    </h4>
    <p>
        75 gr bawang putih
        60 gr bawang merah
        1-2 sdt ebi / 7 ekor udang
        3 batang bagian putih daun bawang
    <h4>
        Bahan saos:
    </h4>
    <p>
        100 ml minyak
        4 sdm saos tiram
        3 sdm kecap ikan
        2 sdm kecap asin
        1 sdm minyak wijen
        3/4 sdt merica
        1 sdm mentega
    </p>
</div>